/* the whole order table */
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 8px;
}
.tickets{
    padding: 0 3em 0 2em ;
}

/* each order box */
.grid > div{
    background-color: #f4f4f4;
    border-radius: 5px;
    height: 100vh;
}

/* title of each order box */
.grid > div h3{
    text-transform: uppercase;
    font-size: small;
    margin-left: 1rem;
    letter-spacing: 0.5px;
}

/* received order box */
.grid > div:first-child{
    width: 310px;
    overflow-y: scroll;
}

/* styling the scrollbar */
::-webkit-scrollbar-track{
    border-radius: 10px;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cacaca;
}

/* inside received order box */
.grid > div:nth-child(2){
    width: 310px;
}

.grid-column{
    display: grid;
    grid-gap: 7px;
    padding-bottom: 7px;
}

/* each orders in received orders box */
.grid-column > div{
    background-color: white;
    margin:0 0.3em ;
     padding: 1em;
     font-size: small;
     color:grey;
     border-left:3px solid rgb(115, 177, 115) ;
     border-radius: 5px;
}
.grid-column > div:nth-child(2){
    border-left:3px solid red;
}

/* serial no */
.grid-column > div > span{
    font-weight: 500;
}

/* response due button */
.grid-column > div > span> button{
    color: rgb(83, 123, 255);
    border: 1px solid rgb(83, 123, 255);
    border-radius: 3px;
    margin-left: 5px;
}
/* order number */
.order-no{
    color: black;
    font-weight: 600;
    margin-bottom: -5px;
}

/* order items */
.order{
    font-size:smaller;
    color: grey;
    margin-bottom: -5px;
}

/* time and assigned to */
.last-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
}

/* due date and time */
.time{
    text-transform: uppercase;
    font-weight: 700;
    font-size: x-small;
}

/* assigned to */
.last-div > p{
    display: flex;
    width: 36%;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: x-small;
}

/* the person icon */
.last-div > p > span{
    border: 1px solid rgb(172, 238, 172);
    background-color: rgb(231, 255, 231);
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
}